acstore==20230519 ; python_version >= "3.10" and python_version < "4.0" 
adal==1.2.7 ; python_version >= "3.10" and python_version < "4.0" 
amqp==5.1.1 ; python_version >= "3.10" and python_version < "4.0" 
anyio==4.0.0 ; python_version >= "3.10" and python_version < "4.0" 
artifacts==20230928 ; python_version >= "3.10" and python_version < "4.0" 
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "4.0" 
azure-common==1.1.28 ; python_version >= "3.10" and python_version < "4.0" 
azure-core==1.29.4 ; python_version >= "3.10" and python_version < "4.0" 
azure-identity==1.14.0 ; python_version >= "3.10" and python_version < "4.0" 
azure-mgmt-compute==23.1.0 ; python_version >= "3.10" and python_version < "4.0" 
azure-mgmt-core==1.4.0 ; python_version >= "3.10" and python_version < "4.0" 
azure-mgmt-monitor==6.0.2 ; python_version >= "3.10" and python_version < "4.0" 
azure-mgmt-network==25.1.0 ; python_version >= "3.10" and python_version < "4.0" 
azure-mgmt-resource==23.0.1 ; python_version >= "3.10" and python_version < "4.0" 
azure-mgmt-storage==21.1.0 ; python_version >= "3.10" and python_version < "4.0" 
azure-storage-blob==12.18.2 ; python_version >= "3.10" and python_version < "4.0" 
bencode-py==4.0.0 ; python_version >= "3.10" and python_version < "4.0" 
billiard==4.1.0 ; python_version >= "3.10" and python_version < "4.0" 
boto3==1.28.61 ; python_version >= "3.10" and python_version < "4.0" 
botocore==1.31.61 ; python_version >= "3.10" and python_version < "4.0" 
bottle==0.12.25 ; python_version >= "3.10" and python_version < "4.0" 
cachetools==4.2.4 ; python_version >= "3.10" and python_version < "4.0" 
celery==5.3.4 ; python_version >= "3.10" and python_version < "4.0" 
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "4.0" 
cffi==1.16.0 ; python_version >= "3.10" and python_version < "4.0" 
charset-normalizer==3.3.0 ; python_version >= "3.10" and python_version < "4.0" 
click-didyoumean==0.3.0 ; python_version >= "3.10" and python_version < "4.0" 
click-plugins==1.1.1 ; python_version >= "3.10" and python_version < "4.0" 
click-repl==0.3.0 ; python_version >= "3.10" and python_version < "4.0" 
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0" 
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32") 
cryptography==41.0.4 ; python_version >= "3.10" and python_version < "4.0" 
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "4.0" 
dfdatetime==20230506 ; python_version >= "3.10" and python_version < "4.0" 
dfdewey==20220603 ; python_version >= "3.10" and python_version < "4.0" 
dfimagetools==20230806 ; python_version >= "3.10" and python_version < "4.0" 
dfvfs
dfwinreg==20221218 ; python_version >= "3.10" and python_version < "4.0" 
dnspython==2.4.2 ; python_version >= "3.10" and python_version < "4.0" 
docker==6.1.3 ; python_version >= "3.10" and python_version < "4.0" 
dtfabric==20230520 ; python_version >= "3.10" and python_version < "4.0" 
ecdsa==0.18.0 ; python_version >= "3.10" and python_version < "4.0" 
email-validator==2.0.0.post2 ; python_version >= "3.10" and python_version < "4.0" 
exceptiongroup==1.1.3 ; python_version >= "3.10" and python_version < "3.11" 
fastapi[all]==0.98.0 ; python_version >= "3.10" and python_version < "4.0" 
filelock==3.12.4 ; python_version >= "3.10" and python_version < "4.0" 
flor==1.1.3 ; python_version >= "3.10" and python_version < "4.0" 
future==0.18.3 ; python_version >= "3.10" and python_version < "4.0" 
google-api-core==1.34.0 ; python_version >= "3.10" and python_version < "4.0" 
google-api-python-client==2.102.0 ; python_version >= "3.10" and python_version < "4.0" 
google-auth-httplib2==0.1.1 ; python_version >= "3.10" and python_version < "4.0" 
google-auth==1.35.0 ; python_version >= "3.10" and python_version < "4.0" 
googleapis-common-protos==1.60.0 ; python_version >= "3.10" and python_version < "4.0" 
h11==0.14.0 ; python_version >= "3.10" and python_version < "4.0" 
httpcore==0.18.0 ; python_version >= "3.10" and python_version < "4.0" 
httplib2==0.22.0 ; python_version >= "3.10" and python_version < "4.0" 
httptools==0.6.0 ; python_version >= "3.10" and python_version < "4.0" 
httpx==0.25.0 ; python_version >= "3.10" and python_version < "4.0" 
idna==3.4 ; python_version >= "3.10" and python_version < "4.0" 
importlib-metadata==6.8.0 ; python_version >= "3.10" and python_version < "3.12" 
isodate==0.6.1 ; python_version >= "3.10" and python_version < "4.0" 
itsdangerous==2.1.2 ; python_version >= "3.10" and python_version < "4.0" 
jaraco-classes==3.3.0 ; python_version >= "3.10" and python_version < "4.0" 
jeepney==0.8.0 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "linux" 
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "4.0" 
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "4.0" 
keyring==24.2.0 ; python_version >= "3.10" and python_version < "4.0" 
kombu==5.3.2 ; python_version >= "3.10" and python_version < "4.0" 
kubernetes==28.1.0 ; python_version >= "3.10" and python_version < "4.0" 
libbde-python ; python_version >= "3.10" and python_version < "4.0" 
libcaes-python==20230406 ; python_version >= "3.10" and python_version < "4.0" 
libcloudforensics==20230601 ; python_version >= "3.10" and python_version < "4.0" 
libcreg-python==20230930 ; python_version >= "3.10" and python_version < "4.0" 
libesedb-python==20230318 ; python_version >= "3.10" and python_version < "4.0" 
libevt-python==20221022 ; python_version >= "3.10" and python_version < "4.0" 
libevtx-python==20221101 ; python_version >= "3.10" and python_version < "4.0" 
libewf-python==20230212 ; python_version >= "3.10" and python_version < "4.0" 
libfsapfs-python==20230617 ; python_version >= "3.10" and python_version < "4.0" 
libfsext-python==20230603 ; python_version >= "3.10" and python_version < "4.0" 
libfsfat-python==20220925 ; python_version >= "3.10" and python_version < "4.0" 
libfshfs-python==20220831 ; python_version >= "3.10" and python_version < "4.0" 
libfsntfs-python==20230606 ; python_version >= "3.10" and python_version < "4.0" 
libfsxfs-python==20220829 ; python_version >= "3.10" and python_version < "4.0" 
libfvde-python==20220915 ; python_version >= "3.10" and python_version < "4.0" 
libfwnt-python==20220922 ; python_version >= "3.10" and python_version < "4.0" 
libfwsi-python==20230710 ; python_version >= "3.10" and python_version < "4.0" 
liblnk-python==20230928 ; python_version >= "3.10" and python_version < "4.0" 
libluksde-python==20221103 ; python_version >= "3.10" and python_version < "4.0" 
libmodi-python==20221023 ; python_version >= "3.10" and python_version < "4.0" 
libmsiecf-python==20221024 ; python_version >= "3.10" and python_version < "4.0" 
libolecf-python==20221024 ; python_version >= "3.10" and python_version < "4.0" 
libphdi-python==20221025 ; python_version >= "3.10" and python_version < "4.0" 
libqcow-python==20221124 ; python_version >= "3.10" and python_version < "4.0" 
libregf-python==20230319 ; python_version >= "3.10" and python_version < "4.0" 
libscca-python==20230716 ; python_version >= "3.10" and python_version < "4.0" 
libsigscan-python==20230109 ; python_version >= "3.10" and python_version < "4.0" 
libsmdev-python==20221028 ; python_version >= "3.10" and python_version < "4.0" 
libsmraw-python==20230320 ; python_version >= "3.10" and python_version < "4.0" 
libvhdi-python==20221124 ; python_version >= "3.10" and python_version < "4.0" 
libvmdk-python==20221124 ; python_version >= "3.10" and python_version < "4.0" 
libvsapm-python==20230506 ; python_version >= "3.10" and python_version < "4.0" 
libvsgpt-python==20221029 ; python_version >= "3.10" and python_version < "4.0" 
libvshadow-python==20221030 ; python_version >= "3.10" and python_version < "4.0" 
libvslvm-python==20221025 ; python_version >= "3.10" and python_version < "4.0" 
lz4==4.3.2 ; python_version >= "3.10" and python_version < "4.0" 
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "4.0" 
more-itertools==10.1.0 ; python_version >= "3.10" and python_version < "4.0" 
msal-extensions==1.0.0 ; python_version >= "3.10" and python_version < "4.0" 
msal==1.24.1 ; python_version >= "3.10" and python_version < "4.0" 
msrest==0.7.1 ; python_version >= "3.10" and python_version < "4.0" 
msrestazure==0.6.4 ; python_version >= "3.10" and python_version < "4.0" 
netaddr==0.9.0 ; python_version >= "3.10" and python_version < "4.0" 
numpy==1.26.0 ; python_version >= "3.10" and python_version <= "3.11" 
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "4.0" 
opensearch-py==2.3.1 ; python_version >= "3.10" and python_version < "4" 
orjson==3.9.7 ; python_version >= "3.10" and python_version < "4.0" 
packaging==23.2 ; python_version >= "3.10" and python_version < "4.0" 
pandas==2.1.1 ; python_version >= "3.10" and python_version < "4.0" 
pefile==2023.2.7 ; python_version >= "3.10" and python_version < "4.0" 
pip==23.2.1 ; python_version >= "3.10" and python_version < "4.0" 
plaso ; python_version >= "3.10" and python_version < "4.0"
portalocker==2.8.2 ; python_version >= "3.10" and python_version < "4.0" 
prometheus-client==0.17.1 ; python_version >= "3.10" and python_version < "4.0" 
prompt-toolkit==3.0.39 ; python_version >= "3.10" and python_version < "4.0" 
protobuf==3.20.3 ; python_version >= "3.10" and python_version < "4.0" 
psutil==5.9.5 ; python_version >= "3.10" and python_version < "4.0" 
psycopg2-binary==2.9.9 ; python_version >= "3.10" and python_version < "4.0" 
puremagic==1.15 ; python_version >= "3.10" and python_version < "4.0" 
pyasn1-modules==0.3.0 ; python_version >= "3.10" and python_version < "4.0" 
pyasn1==0.5.0 ; python_version >= "3.10" and python_version < "4.0" 
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0" 
pycryptodome==3.19.0 ; python_version >= "3.10" and python_version < "4.0" 
pycryptodomex==3.19.0 ; python_version >= "3.10" and python_version < "4.0" 
pydantic==1.10.5 ; python_version >= "3.10" and python_version < "4.0" 
pyhindsight==20230327.0 ; python_version >= "3.10" and python_version < "4.0" 
pyjwt==2.8.0 ; python_version >= "3.10" and python_version < "4.0" 
pyjwt[crypto]==2.8.0 ; python_version >= "3.10" and python_version < "4.0" 
pyopenssl==23.2.0 ; python_version >= "3.10" and python_version < "4.0" 
pyparsing==3.0.9 ; python_version >= "3.10" and python_version < "4.0" 
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0" 
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "4.0" 
python-multipart==0.0.6 ; python_version >= "3.10" and python_version < "4.0" 
pytsk3==20230125 ; python_version >= "3.10" and python_version < "4.0" 
pytz==2023.3.post1 ; python_version >= "3.10" and python_version < "4.0" 
pywin32-ctypes==0.2.2 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32" 
pywin32==306 ; python_version >= "3.10" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows") 
pyxattr==0.8.1 ; python_version >= "3.10" and python_version < "4.0" and platform_system != "Windows" 
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0" 
pyzmq==25.1.1 ; python_version >= "3.10" and python_version < "4.0" 
redis==4.4.4 ; python_version >= "3.10" and python_version < "4.0" 
requests-oauthlib==1.3.1 ; python_version >= "3.10" and python_version < "4.0" 
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0" 
rsa==4.9 ; python_version >= "3.10" and python_version < "4" 
s3transfer==0.7.0 ; python_version >= "3.10" and python_version < "4.0" 
secretstorage==3.3.3 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "linux" 
setuptools==68.2.2 ; python_version >= "3.10" and python_version < "4.0" 
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0" 
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "4.0" 
sshpubkeys==3.3.1 ; python_version >= "3.10" and python_version < "4.0" 
starlette==0.27.0 ; python_version >= "3.10" and python_version < "4.0" 
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "4.0" 
typing-extensions==4.8.0 ; python_version >= "3.10" and python_version < "4.0" 
tzdata==2023.3 ; python_version >= "3.10" and python_version < "4.0" 
ujson==5.8.0 ; python_version >= "3.10" and python_version < "4.0" 
uritemplate==4.1.1 ; python_version >= "3.10" and python_version < "4.0" 
urllib3==1.26.17 ; python_version >= "3.10" and python_version < "4.0" 
uvicorn[standard]==0.23.2 ; python_version >= "3.10" and python_version < "4.0" 
uvloop==0.17.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "4.0" 
vine==5.0.0 ; python_version >= "3.10" and python_version < "4.0" 
watchfiles==0.20.0 ; python_version >= "3.10" and python_version < "4.0" 
wcwidth==0.2.8 ; python_version >= "3.10" and python_version < "4.0" 
websocket-client==1.6.3 ; python_version >= "3.10" and python_version < "4.0" 
websockets==11.0.3 ; python_version >= "3.10" and python_version < "4.0" 
xlsxwriter==3.1.6 ; python_version >= "3.10" and python_version < "4.0" 
yara-python==4.3.1 ; python_version >= "3.10" and python_version < "4.0" 
zipp==3.17.0 ; python_version >= "3.10" and python_version < "3.12" 
