<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Turbinia</title>
    <script src="/static/third_party/material/material.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/third_party/font-awesome/css/font-awesome.min.css">
    <link href="/static/third_party/material/material.min.css" rel="stylesheet">
    <link href="/static/turbine.css" rel="stylesheet">

    <script type="text/javascript">
        function toggle_visibility(id) {
            var e = document.getElementById(id);
            if(e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }
        function display_element(id) {
            var e = document.getElementById(id);
            e.style.display = 'block';
        }
    </script>

</head>
<body>
<div class="mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">

    <header class="turbine-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
            {% block logo %}{% endblock %}
        </div>
    </header>

    <div class="turbine-ribbon"></div>

    <main class="turbine-main mdl-layout__content">
        <div class="turbine-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="turbine-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

                {% block main %}{% endblock %}

            </div>
        </div>
    </main>

</div>
</body>
</html>
