{% extends "base.html" %}

{% block logo %}
    <span class="mdl-layout-title turbine-logo"><a href="/"><i class="fa fa-long-arrow-left"></i> inventory</a></span>
{% endblock %}

{% block main %}
<h3>{{ item.name}} </h3>
<br>
{% if item.has_active_jobs("be-worker") %}
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-right:10px;" disabled>
        <i class="fa fa-circle-o-notch fa-spin"></i> bulk_extractor
    </button>
{% else %}
    <a href="/tasks/item/{{ item.id }}/be-worker" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-right:10px;">
        <i class="fa fa-play"></i> bulk_extractor
    </a>
{% endif %}

{% if item.has_active_jobs("plaso-worker") %}
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-right:10px;" disabled>
        <i class="fa fa-circle-o-notch fa-spin"></i> Plaso
    </button>
{% else %}
    <a href="/tasks/item/{{ item.id }}/plaso-worker" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-right:10px;">
        <i class="fa fa-play"></i> Plaso
    </a>
{% endif %}

<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" disabled>
    <i class="fa fa-play"></i> dfVFS hasher
</button>

<br><br>

{% if item.jobs %}

<table class="mdl-data-table mdl-js-data-table turbine-table turbine-full-width">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Job</th>
        <th class="mdl-data-table__cell--non-numeric" width="150px">Created</th>
        <th class="mdl-data-table__cell--non-numeric" width="150px">Status</th>
    </tr>
    </thead>

    <tbody>
    {% for job in item.jobs|sort(reverse=True, attribute='updated_at') %}
    <tr>
        <td class="mdl-data-table__cell--non-numeric">{{ job.job_type }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ job.created_at }}</td>

        {% if job.status == "done" %}
            <td class="mdl-data-table__cell--non-numeric">
                <a href="#"}
                   target="_blank">Result</a>
            </td>
        {% elif job.status == "error" %}
            <td class="mdl-data-table__cell--non-numeric">
                {{ job.status|capitalize}}
            </td>
        {% else %}
            <td class="mdl-data-table__cell--non-numeric">
                <i class="fa fa-circle-o-notch fa-spin" style="margin-right:5px;"></i> {{ job.status|capitalize}}
            </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}

<span style="color:#999;">This inventory item have never been processed.</span>

{% endif %}

{% endblock %}
